<div>
<h2 class="font-medium">Sign up</h2>
<div class="flex flex-col gap-0.5">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "w-96" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-96" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "w-96"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-96"  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "border-solid border-2 border-blue-600 p-2 rounded-md bg-blue-600 hover:bg-blue-700 text-white" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>