<section class="flex justify-center p-3">
  <div class="flex flex-col items-center w-full gap-5">
    <% if current_user == @recipe.user %>
      <div class="mt-3 flex items-center">
        <%= label_tag :public, "Public" %>
        <%= check_box_tag :public, 1, @recipe.public, { data: { remote: true, url: toggle_public_recipe_path(@recipe) }, class: "switch", id: "public-toggle" } %>
      </div>
    <% end %>
    <div class="relative flex flex-col items-center p-4 bg-white border-2 border-gray-100 sm:px-24 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-40">
      <div class="flex flex-col items-center gap-3">
        <h1 class="text-4xl font-bold text-center text-clamp-2">
          <%= @recipe.name %>
        </h1>
        <p class="text-sm text-center text-slate-400">
          by <%= @recipe.user.name %>
        </p>
        <p class="text-center text-slate-500 max-w-[35ch]">
          <%= @recipe.description %>
        </p>
        <div class="flex w-full justify-evenly">
          <div class="flex flex-col gap-2 py-3 text-center mr-4">
            <h2 class="capitalize">Prepartaion time</h2>
            <div class="flex text-sm justify-evenly">
              <% if @preparation_time_hours > 0 %>
                <%= "#{@preparation_time_hours} hr" %>
              <% end %>
              <% if @preparation_time_minutes > 0 %>
                <%= "#{@preparation_time_minutes} min" %>
              <% end %>
            </div>
          </div>
          <div class="flex flex-col gap-2 py-3 text-center mr-4">
            <h2 class="capitalize">Cooking time</h2>
            <div class="flex text-sm justify-evenly">
              <% if @cooking_time_hours > 0 %>
                <%= "#{@cooking_time_hours} hr" %>
              <% end %>
              <% if @cooking_time_minutes > 0 %>
                <%= "#{@cooking_time_minutes} min" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between w-1/2">
       <div>
        <%= link_to "Generte shopping list", class: 'border bg-blue-500 px-3 py-1 text-white rounded-md' %>
      </div>
      <div>
        <%= link_to "Add ingredient",  new_recipe_recipe_food_path(@recipe.id), class: 'border bg-blue-500 px-3 py-1 text-white rounded-md' %>
      </div>
    </div>
    <div class='w-1/2'>
          <table class="border">
            <thead class="border">
                <tr>
                <th class="p-2">Food</th>
                <th class="p-2">Quantity</th>
                <th class="p-2">Value</th>
                <th class="p-2">Action</th>
                </tr>
            </thead>
  <tbody >
<% unless @recipe.recipe_foods.empty?%>
    <tr >
    <% @recipe.recipe_foods.each do |recipe_food|%>
      <td class="p-5"><%= recipe_food.food.name %></td>
      <td class="p-5"><%= recipe_food.quantity %></td>
      <td class="p-5"><%= recipe_food.total_price %></td>
      <td class="p-5">
        <%= button_to 'Delete', recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id ), method: :delete, class: 'border px-3 py-1 text-white bg-red-500 my-5' %>
      </td>

    </tr>
     <%end%>  
       <% else %>
      <tr>
        <td colspan="4">No items available.</td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</section>