<div class="container">
    <div>
        <h1 class="font-medium mb-1"> Create Food</h1>
        <%=form_with model: @food, url: foods_path, local: true do |form| %>
          <div class="mb-1">
            <%= form.text_field :name,class: "w-96", placeholder: "Enter food name"%>
            </div>
          <div class="mb-1">
            <%= form.text_field :measurement_unit,class: "w-96", placeholder: "Enter measurement unit (ex:grams)"%>
            </div>  
          <div class="mb-1">
            <%= form.text_field :price,class: "w-96", placeholder: "Enter price (ex:$1.5)"%>
            </div>
           <div class="mb-1">
            <%= form.number_field :quantity, class: "w-96", placeholder: "Enter quantity"%>
            </div>       
            <%= form.submit "create food", class: "border-solid border-2 border-blue-600 p-2 rounded-md bg-blue-600 hover:bg-blue-700 text-white"%>
         <% end %>
        </div>
    </div>